<div class="column is-4 is-offset-4 ">
  <div class="box">

    <h1 class="title">Stwórz nowe zamówienie</h1>

    <%= render 'form', order: @order %>

    <div style="padding-top: 22px">
      <%= button_to "Wyloguj", destroy_user_session_path, method: :delete, :class => 'button is-info' %>
    </div>
  </div>
</div>